html{
  height: 100%;
  width: 100%;
  background-color: black;
  color:lightgray;
}

.App{
  position: fixed;
  height: 100%;
  margin-left: 4%;
  width:92%;
  display:flex;
  flex-direction: column;
}