.chat{
  height: 95%;
  display: flex;
  flex-direction: column;
}

.chatContainerDiv{
  display: flex;
  flex-flow: column;
  overflow-y: hidden;
  flex-grow:1;
}

.expiredChat {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chatStateDiv {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}
