.contactDiv{
    height: 95%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  
.contactDiv .MuiInputBase-root{
  background-color:lightgray;
  padding:10px 10px;
  min-width:400px;
}
  
.contactDiv button{
  background-color: purple;
  color:lightgray;
}
  
  .contactDiv .MuiFormControl-marginNormal{
    margin-top:0px;
  }
  
  .contactDiv .MuiInputBase-input{
    padding: 0px;
  }
  
  .contactDiv label{
    color: lightgray;
  }
  
  .contactDiv .nickNameLabelFormControl{
    position:relative;
  }
  
  .contactDiv .nickNameLabelOutlined{
    transform:scale(0.75);
  }
  
  .contactDiv button{
    background-color:black;
  }
  
  .contactDiv .MuiIconButton-root:hover{
    background: purple;
  }
  
  .contactDiv .MuiButton-root:hover{
    background: purple;
  }
  