.heading{
  display:flex;
  align-items: center;
  padding-top:10px;
}

.heading h2{
  display:inline;
}
  
.heading .rightDiv{
  margin-left:auto;
  font-size: 20pt;
}

.heading .rightDiv p{
  margin-left:10px;
  font-size:12pt;
  display:inline-block;
}

.heading svg{
  height: 35px;
  padding-right:10px;
}