.homeDiv h1{
  font-size:4vw;
  margin-right:20px;
}

.homeDiv li{
  font-size:2vw;
}

.homeDiv button{
  background-color:black;
  color:white;
}
  
.homeDiv .MuiButton-root:hover{
  background: purple;
}

.homeDiv {
    display: flex;
    flex-direction: column;
    height: 95%;
  }

.homeDiv .topRow{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
}

.homeDiv .bottomRow{
  flex-grow: 0.5;
  margin:auto;
}

.homeDiv .bottomRow .MuiButtonBase-root{
  font-size:2vw
}

  @media screen and (max-width: 800px) {
    .homeDiv .topRow{
      flex-direction: column;
      align-items: center;
    }
    .homeDiv h1{
      font-size:6vw;
      margin-right:unset;
    }
      
    .homeDiv li{
      font-size:3vw;
    }

    .homeDiv .bottomRow .MuiButtonBase-root{
      font-size:3.5vw
    }
  }