.messagesList {
  overflow-y:auto;
  flex-grow:1;
}

.loadMoreMessagesDiv a{
  color: purple;
}

.messagesListStateDiv {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.messagesList button{
  background-color: lightgray;
}

.messagesList button:hover{
  background-color: purple;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: purple;
}