.messageInputDiv{
  width:100%;
}

.messageInputDiv .MuiTextField-root{
  width:100%;
  padding-top:5px;
}

.messageInputDiv .MuiInputBase-root{
  width:100%;
  padding: 10px 10px;
  background-color:lightgray;
}
