.messageDiv{
  border-bottom: 1px solid lightgrey;
  margin-bottom:10px;
}

.messageIcon,.messageRightPanel,.messageAuthor,.messageCreatedAt{
  display: inline-block
}

.loadMoreMessagesDiv{
  text-align:center;
}

.messageRightPanel{
  min-width:400px;
  max-width:90%;
}

.messageIcon{
  vertical-align: top;
  padding-right: 10px;
}

.messageAuthor{
  font-weight:bold;
}

.messageCreatedAt{
  font-size:11px;
  padding-left:15px;
}

.messageContent{
  font-size:15px;
  word-break: break-word;
}