.setNameDiv{
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.setNameDiv .MuiInputBase-root{
  background-color:lightgray;
  padding:10px 10px;
  min-width:400px;
}

.setNameDiv button{
  background-color: purple;
  color:lightgray;
}

.setNameDiv .MuiFormControl-marginNormal{
  margin-top:0px;
}

.setNameDiv .MuiInputBase-input{
  padding: 0px;
}

.setNameDiv label{
  color: lightgray;
}

.setNameDiv .nickNameLabelFormControl{
  position:relative;
}

.setNameDiv .nickNameLabelOutlined{
  transform:scale(0.75);
}

.setNameDiv button{
  background-color:black;
}

.setNameDiv .MuiIconButton-root:hover{
  background: purple;
}

.setNameDiv .MuiButton-root:hover{
  background: purple;
}
